@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Passions';
    src: url('./fonts/PassionsConflictRUS-Regular.otf');
}

/* * {
    border: 1px solid #f00; } */
